@font-face {
    font-family: 'CoralSea';
    src: url('/assets/fonts/CoralSea.woff2') format('woff2'),
        url('/assets/fonts/CoralSea.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

* {
  margin: 0;
  cursor: url("/assets/default.png"), auto;
}

body {
  background: #004562;

}

html, body, .cover {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.cover {
  display: flex;
  box-shadow: inset 0 0 150px rgba(0, 0, 0, 0.7);
}

.cover-image {
  width: 40%;
  height: 80%;
  animation: float 2s cubic-bezier(0.445, 0.050, 0.550, 0.950) infinite alternate, drop 2s cubic-bezier(0.390, 0.575, 0.565, 1.000);
  z-index: 2;
}

.cover-image:hover {
  transform: translateY(-20px);
}

.cover-text {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: in 1s cubic-bezier(0.445, 0.050, 0.550, 0.950);
  z-index: 2;
  padding-right: 50px;
}

.cover h1 {
  font-family: 'Righteous', cursive;
  font-size: 9em;
  font-weight: normal;
  text-shadow: 0 0 50px rgba(255, 255, 255, 0.7);
  text-align: center;
  color: #007AAE;
}

.cover h2 {
  font-family: 'Righteous', cursive;
  font-size: 1.8em;
  font-weight: normal;
  letter-spacing: 1px;
  text-align: center;
  color: #000000;
}

.cover button {
  font-family: 'DM Sans', sans-serif;
  font-size: 2.2em;
  font-weight: normal;
  letter-spacing: 1px;
  border: 0;
  margin-top: 50px;
  padding: 20px 30px 20px 30px;
  border-radius: 20px;
  background: #A2E9FF;
  transition: 0.2s;
}

.cover button:hover {
  transform: scale(1.05);
  cursor: url("/assets/select.png"), pointer;
  filter: brightness(0.7) saturate(2);
}

#coverD1 {
  position: absolute;
  padding: 12vw;
  border-radius: 50%;
  background: #6ABAD3;
  left: -7vw;
  top: -7vw;
  z-index: -1;
}

#coverD2 {
  position: absolute;
  padding: 12vw;
  border-radius: 50%;
  background: #6ABAD3;
  left: 50vw;
  top: -18vw;
  z-index: -1;
}

#coverD3 {
  position: absolute;
  padding: 13vw;
  border-radius: 50%;
  background: #6ABAD3;
  right: -18vw;
  top: 10%;
  z-index: -1;
}

#coverD4 {
  position: absolute;
  padding: 6vw;
  border-radius: 50%;
  background: #6ABAD3;
  right: 7vw;
  bottom: 5vw;
  z-index: -1;
}

#coverD5 {
  position: absolute;
  padding: 20vw;
  border-radius: 50%;
  background: #6ABAD3;
  left: 8vw;
  bottom: -32vw;
  z-index: -1;
}

@keyframes drop {
  0% {
    transform: translateY(-100vh);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes float {
  0% {
    transform: translateY(-50px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes in {
  0% {
    transform: translateY(10%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@media only screen and (max-width: 600px) {
  .cover {
    flex-direction: column;
  }

  .cover-image {
    height: 50%;
    width: 100%;
  }

  .cover-text {
    padding: 10px;
  }

  .cover-text h1 {
    font-size: 4em;
  }

  .cover-text h2 {
    font-size: 1.3em;
  }

  .cover button {
    font-size: 2em;
    padding: 15px 25px 15px 25px;
  }

  #coverD1 {
    padding: 25vw;
    left: -10vw;
    top: -10vw;
    z-index: -1;
  }

  #coverD2 {
    display: none;
  }

  #coverD3 {
    padding: 25vw;
    border-radius: 50%;
    right: -30vw;
  }

  #coverD4 {
    padding: 10vw;
    border-radius: 50%;
    bottom: 90vw;
  }

  #coverD5 {
    padding: 22vw;
    left: 5vw;
    bottom: 82vw;
  }
}
