:root {
    --primary: rgb(12, 89, 71);
    --primary-dark: rgb(7, 63, 50);
    --secondary: #3478aa;
    --bg: #131114;
    --bright: #c0281b;
    --bright2: rgb(255, 231, 51);
}

* {
    margin: 0;
    color: white;
    font-family: 'Red Hat Display', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Righteous', sans-serif;
    font-weight: normal;
}

h1 {
    font-size: 3rem;
}

b {
    color: var(--secondary);
}

html, body, section {
    width: 100%;
    height: 100%;
    background: var(--bg);
}

section, .flex {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    text-align: center;
}

section {
    overflow: hidden;
}

button {
    padding: 10px 15px;
    border: 0;
    background: var(--primary);
    border-radius: 5px;
    box-shadow: 0 4px 0 var(--primary-dark);
    cursor: pointer;
    font-size: 1.2rem;
}

button:hover {
    transform: translateY(1px);
    box-shadow: 0 3px 0 var(--primary-dark);
}

button:active {
    transform: translateY(4px);
    box-shadow: none;
}

a {
    text-decoration: none;
    position: relative;
    z-index: 2;
    box-shadow: inset 0px -4px 0px -2px var(--secondary);
    transition: 0.5s;
}

a::before {
    content: "> ";
    color: var(--secondary);
    font-weight: bold;
    transition: 0.5s;
}

a:hover {
    box-shadow: inset 0px calc(-1rem - 8px) 0px -2px var(--secondary);
    color: black;
}

a:hover::before {
    color: white
}

#logo {
    animation: float 1.5s cubic-bezier(.5, 0, .5, 1) infinite alternate, drop 1.5s cubic-bezier(0,1,.7,1);
}

#logo, #logo img {
    width: 1rem;
    position: relative;
}

#logo::before {
    content: "";
    display: block;
    height: 100vh;
    background: white;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -100vh);
    width: 0.065rem;
}

#caption {
    transform: translateY(-1rem);
}

#home-content {
    position: relative;
}

#ripple, #ripple::after {
    opacity: 0;
    width: 1px;
    height: .2px;
    border: #FFF 3px solid;
    border-radius: 100%;
    filter: opacity(0.5)
}

#ripple {
    position: absolute;
    animation: ripple1 3s ease-out 1.2s infinite;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(-44px);
}

#ripple::after {
    content: "";
    animation: ripple2 3s ease-out 1.2s infinite;
    transform: scale(0.5);
}


@keyframes drop {
    0% {
        transform: translateY(-100vh);
    }
    100% {
        transform: translateY(0px);
    }
}

 @keyframes float {
    0% {
        transform: translateY(-20px);
    }
    100% {
        transform: translateY(0px);
    }
}

@keyframes in {
    0% {
        transform: translateY(10%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes ripple1 {
    0% {
        opacity: 1;
    }
    75% {
        width: 300px;
        height: 50px;
        border-width: 1px;
        opacity: 0;
    }
}

@keyframes ripple2 {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    75% {
        width: 300px;
        height: 50px;
        border-width: 1px;
        opacity: 0;
    }
}